extends layout 

block content
    h1 Iniciar de Sesión
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora excepturi assumenda incidunt. Ipsam dolor pariatur cupiditate commodi ut, repellat neque officiis nam, laborum fuga cum odio ducimus, fugit ab accusantium.
    a(href ="/login" value="Iniciar sesión" class="btn btn-success") Inicio de Sesión
